*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color:#CCC;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input[type=text], select, textarea {
    width: 100%;
    padding: .75rem;
    border: 1px solid #ccc;
    border-radius: .25rem;
    resize: vertical;
  }

.form-field{
    display: flex;
    margin-bottom: 1rem;
}

.form-group{
    width: 100%;
}

.table{
    display: flex;
    flex-direction: column;
    width:100%;
}

.table-item{
    display: flex;
    margin-bottom: .35rem;
}

.table-item.down{
    display: flex;
    flex-direction: column;
    margin-bottom: .5rem;
}

.table-item .header, .table-item .data{
    width: 100%;
}

.table-item .header{
    font-weight: 600;
    width:70%;
}

.btn{
    display: inline-block;
    color: #212529;
    background-color: #f9fafb;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    padding: .375rem 1.25rem;
    font-size: 1rem;
    border-radius: .5rem;
}


.btn-success{
    color: #fff;
    background-color: #198754;
    border-color: #198754;
}

.btn-primary{
    color: #fff;
    background-color: #0074d9;
    border-color: #0074d9;
}

.btn:hover{
    box-shadow: inset 0 0 0 20rem rgba(0,0,0,.0625);
}


.container{
    display: flex;
    align-content: center;
    justify-content: center;
}

.container .content{
    width: 62rem;
    background-color: #fff;
    border-radius: .75rem;
    box-shadow: 0rem .25rem 1rem rgba(0,0,0,0.25);
    overflow: hidden;
    margin: 2.5rem 0;
}

.content .content-header{
    background-image: url('https://img.wallpapersafari.com/desktop/728/410/88/97/FxHcgC.jpg');
    background-position: center; 
    display: flex;
    height: 15rem;
}

.content-header .profile-picture{
    padding: 3rem;
    display: flex;
    align-items: center;
}

.content-header .profile-picture img{
    width: 11.5rem;
    border: 5px solid white;
}

.content-header .profile-information{
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
}

.information-content h1{
    margin-bottom: .5rem;
}

.content .content-body section{
    padding: 2rem 1rem;
}

.content .content-body section .section-title{
    padding: 0 1rem;
    margin-bottom: 1.5rem;
}

.content .content-body section .column{
    padding: 0 1rem;
    width:50%;
}

.content .content-body section .row {
    display: flex;    
}


.content .content-body section:not(:last-child){
    border-bottom: solid 1px #CCC;
}

